{% extends 'base.html' %}

{% block title %} login {%endblock%}

{% block style %}
.signup{
    display:flex;
    justify-content:center;
}

.bod{

  background-image: url("/static/img/jakob-owens-CiUR8zISX60-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.d1{
  background:white;
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  border-radius:50px;
  opacity:0.85;
}

.d2{
  background:white;
  margin-left:auto;
  margin-right:auto;
  width:1200px;
  margin-bottom:40px;
  border-radius:50px;
  opacity:0.85;
}


{% endblock %}

{% block body%}

<body class='bod'>
  <main>
    <div class = 'd1'>
    <div class="px-4 py-5 my-5 text-center">
      <img class="d-block mx-auto mb-4" src="/static/img/connor-betts-FVm7T8yqifI-unsplash.jpg" alt="" width="72" height="57">
      <h1 class="display-5 fw-bold text-body-emphasis">Welcome!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Welcome to CineBox, your ultimate destination for effortless movie searching! Tired of spending hours scouring the internet for your favorite films? Look no further. CineBox is here to revolutionize your movie discovery experience. With our user-friendly interface and powerful search engine, finding the perfect movie has never been easier.</p>

      </div>
    </div>
    </div>
    <div class="b-example-divider"></div>
    <div class='d2'>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Sign In</h1>
          <p class="col-lg-10 fs-4">Before we dive into the world of films, let's get you signed in. With a CineBox account. Don't have an account yet? No worries! Sign up today to join our vibrant community of movie enthusiasts. Let CineBox be your trusted companion as you explore the vast realm of cinema.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method='POST'>{% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name='username'>
              <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign In</button>
            </form>

            <div class="signup"><a href='/signup'>Sign Up</a></div>
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
        </div>
      </div>
    </div>
    </div>



  </main>
</body>    

{% endblock %}